body{
  font-family: 'Josefin Slab', serif;
  display: flex;
}
select {
  font-family: 'Josefin Slab', serif;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  color: black;
}
button {
  font-family: 'Josefin Slab', serif;
  padding: 5px;
  color: black;
  border: 1px solid gray;
  background-color: white;
  text-decoration: none;
  border-radius: 10%;
  line-height: 1;
  cursor: pointer;
}
#controls button{
  margin-right: 5px;
}
button:hover{
  background-color: #dfdfdf;
}
#form{
  margin-bottom: 10px;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.enabled {

}
#roller {
  border: 1.5px solid black;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  float: left;
  min-height: 85px;
}
#result {
  height: auto;
  min-height: 25px;
  border-top: 1px solid black;
  padding-top: 10px;
  margin-bottom: 5px;
}
#controls {
  height: auto;
  margin-bottom: 5px;
}
#stat{
  height: auto;
}
.invisible {
  display: none;
}
.visible {
  display: inherit;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  color: gray;
}
.setHeader {
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.expButton{
  user-select: none;
  -webkit-user-select: none;
}
.floatingHeader {
  position: absolute;
  left: 10px;
}
#log{
  border: 1.5px solid black;
  display: inline-block;
  margin: auto;
  padding: 10px;
  min-height: 78px;
}
.bold{
  font-weight: bold;
}
#logHeader{
  border-bottom: 1.5px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#logContent{
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1.5px solid black;
  line-height: 2;
}
#logButtons{
  display: inline-block;
}
#wrapper{
  height: auto;
}
